.pane {
    transition: opacity 150ms ease-in-out, left 150ms ease-in-out;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.entered {
    opacity: 1;
    display: block;
    left: 0;
}

.entering {
    opacity: 0;
    display: block;
    left: 30px;
}

.exiting {
    opacity: 0;
    display: block;
    left: -30px;
}

.exited {
    opacity: 0;
    display: none;
    left: 5000px;
}

